@import 'fonts.css';
ul, li{
    
    display: block;
    padding: 0;
    margin: 0;
}

/*первая страница*/


.header {
        position: absolute;
        left: 0px;
        top: 0px;
        max-width: 1280px;
        height: 745px;
        z-index: 3;
    text-align: center;
    background-image: url(../img/firstPhoto.png);
}

.menu{
        margin-left: 174px ;
    }
    
    .menu__item{
        cursor: pointer;
        text-decoration: underline;    
        margin-top: 65px;
        margin-left: 67.5px ;
    }
    
    .menu__item:hover{
        opacity: 0.8;
    }
    .menu__item__f:hover{
        opacity: 0.8;
    }
    
    .menu__item__ff:hover{
        opacity: 0.8;
    }
    
    .menu__item__d:hover{
        opacity: 0.8;
    }
    
    .menu__item__f{
        cursor: pointer;
        margin-top: 39.8px;
        margin-left: 101px ;
    }
    
    .menu__item__ff{
        cursor: pointer;
        margin-top: 65px;
        margin-left: 98px ;
    }
    
    .menu__item__d{
        cursor: pointer;
        margin-top: 65px;
        margin-left: 81px ;
    }
    
    
    .button{
        border-radius: 3px;
        background-color: rgb(22, 160, 133);
        position: absolute;
        left: 557px;
        top: 430px;
        width: 167px;
        height: 49px;
        z-index: 19;    
        color: white;
        font-size: 11px;
        font-family: "GothamRounded2";
        color: rgb(255, 255, 255);
        font-weight: bold;
        text-transform: uppercase;
        letter-spacing: 2.6px;
    }
    
    .soc{
       margin-left: 16.6px;
    }
    
    .soc:hover{
            opacity: 0.5;
    }
    
    .socsites{      
            margin-left: 541px;
            margin-top: 583px;
    }
    
  
.print{
        letter-spacing: 2.6px;
                font-size: 16px;
                font-family: "GothamRounded3";
                color: rgb(255, 255, 255);
                line-height: 25;
                position: absolute;
                left: 1px;
                top: 194px;
                z-index: 18;      
}

h1 {
        left: 1.5px;
        letter-spacing: 3px;
        font-size: 22px;
        font-family: "GothamRounded";
        color: rgb(255, 255, 255);
        font-weight: bold;
        text-transform: uppercase;
        line-height: 11.111;
        position: absolute;
        top: 332px;
  }
  /*вторая страница*/

  
  .second{
        width: 1280px;
        text-align: left;
        background-image: url(../img/2photo.png);
        position: absolute;
        left: 0px;
        top: 745px;
        height: 792px;
        z-index: 24;
    }

.secondText{
        width: max-content;
    font-size: 18px;
    font-family: "GothamRounded";
    color: rgb(22, 160, 133);
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.2;
    position: absolute;
    left: 128px;
    top: 109px;
    z-index: 620;
    letter-spacing: 2.6px;
      
  }

.secondTextField{
        line-height: 25px;
        letter-spacing: 1.743px;
    font-size: 12px;
    font-family: "GothamRounded3";
    color: rgb(55, 55, 55);
    position: absolute;
    left: 127.105px;
    top: 190px;
    width: 428px;
    height: 107px;
    z-index: 617;
}

.button2{
        font-size: 12px;
        font-family: "GothamRounded";
        color: rgb(255, 255, 255);
        font-weight: bold;
        text-transform: uppercase;
        position: absolute;
        left: 127.937px;
        top: 352.1px;
        border-radius: 3px;
        background-color: rgb(22, 160, 133);
        position: absolute;
    width: 192px;
    height: 51px;
    z-index: 618;
    font-size: 12px;
    font-family: "GothamRounded";
    color: rgb(255, 255, 255);
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1.667px;
    background-color:#519c80;
    color: white; 
}

/*третья страница*/

.third{
        width: 1280px;
        text-align: left;
        background-image: url(../img/33.png);
            position: absolute;
            left: 0px;
            top: 1237px;
            width: 1280px;
            height: 763px;
            z-index: 625;
    }

.str1:hover{
        opacity: 0.5;
}
.str1{
                position: absolute;
                left: 766px;
                top: 455px;
                z-index: 711;
}
.str2:hover{
        opacity: 0.5;
}
.str2{
        position: absolute;
                left: 797px;
                top: 455px;
                z-index: 711;
}


.data{
        letter-spacing: 1.2px;
                font-size: 12px;
                font-family: "GothamRounded1";
                color: rgb(55, 55, 55);
                font-weight: bold;
                text-transform: uppercase;
                line-height: 1.833;
                text-align: left;
                position: absolute;
                left: 737px;
                top: 437.002px;
                z-index: 713;
}

.learn{
        letter-spacing: 1.85px;
        font-size: 12px;
        font-family: "GothamRounded1";
        text-transform: uppercase;
        background-color: rgb(22, 160, 133);
        position: absolute;
        left: 767px;
        top: 348px;
        width: 192px;
        height: 51px;
        background-color:#519c80;
        color: white;
        z-index: 624;
}

.designText{
        letter-spacing: 1.62px;
        line-height: 22px;
        font-size: 12px;
        font-family: "GothamRounded1";
        color: rgb(55, 55, 55);
        position: absolute;
        left: 767.105px;
        top: 199px;
        width: 428px;
        height: 99px;
        z-index: 710;
}

.design{
        letter-spacing: 3px;
        font-size: 17px;
        font-family: "GothamRounded";
        color: rgb(22, 160, 133);
        font-weight: bold;
        text-transform: uppercase;
        line-height: 1.222;
        position: absolute;
        left: 763.844px;
        top: 144.002px;
        z-index: 709;
}
/*четвертая страница*/

.avt{
        position: absolute;
        left: 386px;
        top: 121px;
        width: 370px;
        height: 244px;
        z-index: 720;
  
}

.list{
        position: absolute;
        left: 780px;
        top: 121px;
        width: 371px;
        height: 244px;
        z-index: 721;
 
}

.fourth{
        width: 1280px;
        text-align: left;
        background-image: url(../img/4.png);
                background-color: rgb(245, 246, 247);
                position: absolute;
                left: 0px;
                top: 1795px;
                width: 1280px;
                height: 483px;
                z-index: 716;  
}

.fot{
        position: absolute;
        left: 187px;
        top: 168px;
        width: 59px;
        height: 55px;
        z-index: 717;

}

.community{
        letter-spacing: 2.3px;
        font-size: 16px;
        font-family: "GothamRounded";
        color: rgb(55, 55, 55);
        font-weight: bold;
        text-transform: uppercase;
        line-height: 1.25;
        position: absolute;
        left: 129.937px;
        top: 248.5px;
        z-index: 719;
    
}


.leaf{
        cursor: pointer;
                position: absolute;
                left: 1081px;
                top: 92px;
                width: 11px;
                height: 16px;
                z-index: 723;   
}
.leafR:hover{
        opacity: 0.5;
}
.leafL:hover{
        opacity: 0.5;
}

.leafR{
        margin-left: 15px;
}

.communityText{
        letter-spacing: 1.49px;
        font-size: 10px;
        font-family: "GothamRounded2";
        color: rgb(55, 55, 55);
        line-height: 1.2;
        text-align: center;
        position: absolute;
        left: -932px;
        top: 195px;
        width: 139px;
        height: 34px;
        z-index: 718;

}

/*пятая страница*/
.five{
        background-image: url("../img/lastPhoto.png");
        position: absolute;
        left: 0px;
        top: 2279px;
        width: 1280px;
        height: 790px;
        z-index: 726;
}

.us{
        letter-spacing: 3.7px;
        font-size: 24px;
        font-family: "GothamRounded";
        color: rgb(255, 255, 255);
        font-weight: bold;
        text-transform: uppercase;
        line-height: 1.9;
        position: absolute;
        left: 402.274px;
        top: 339px;
        z-index: 727; 
}

.field{
        background-color: rgb(255, 255, 255);
        position: absolute;
        left: 467px;
        top: 405px;
        width: 280px;
        height: 60px;
        z-index: 728;    
}

.pole{
        background-color: rgb(22, 160, 133);
        position: absolute;
        left: 747px;
        top: 405px;
        width: 63px;
        height: 60px;
        z-index: 729;

}

.gal{
        cursor: pointer;
        position: absolute;
        left: 770px;
        top: 423px;
        width: 20px;
        height: 16px;
        z-index: 730;
   
}

.gal:hover{
        opacity: 0.8;
}

/*шестая*/

.ph1{
        margin-left: 640px;
        margin-top: 225px;    
}

.ph2{
margin-left: 318px; 
margin-top: -56px;    
}

.play{
        cursor: pointer;
        top: 241px;
        letter-spacing: 2px;
        font-size: 18px;
        color:white;
        font-family: "GothamRounded1";
        text-transform: uppercase;
        position: absolute;
        left: 683px;
        width: 240px;
        height: 56px;
        z-index: 740;

}
.play:hover{
        opacity: 0.5;
}
.printA{
        background-color: rgb(22, 160, 133);
        position: absolute;
        left: 892px;
        top: 225px;
        width: 56px;
        height: 56px;
        z-index: 741;
}
.android:hover{
        opacity: 0.5;
}
.android{
        cursor: pointer;
        position: absolute;
        left: 908px;
        top: 237px;
        width: 25px;
        height: 29px;
        z-index: 743; 
}


.printApple{
        background-color: rgb(22, 160, 133);
        position: absolute;
        left: 570px;
        top: 225px;
        width: 56px;
        height: 56px;
        z-index: 737;
}
.applepng:hover{
        opacity: 0.5;
}

.applepng{
        cursor: pointer;
        position: absolute;
        left: 587px;
        top: 237px;
        width: 21px;
        height: 24px;
        z-index: 738;  
}
.apple:hover{
        opacity: 0.5;
}
.apple{
        cursor: pointer;
        letter-spacing: 2px;
        font-size: 17px;
        color:white;
        font-family: "GothamRounded1";
        text-transform: uppercase;
        position: absolute;
        left: 353px;
        top: 243px;
        width: 240px;
        height: 56px;
        z-index: 736;
     
}

.six{
    background-image: url("../img/last.png");
    position: absolute;
    left: 0px;
    top: 3068px;
    width: 1280px;
    height: 396px;
    z-index: 726;

}

.Download{
        letter-spacing: 3.4px;
        font-size: 20px;
        font-family: "GothamRounded";
        color: rgb(55, 55, 55);
        font-weight: bold;
        text-transform: uppercase;
        line-height: 1.2;
        position: absolute;
        left: 542px;
        top: 88px;
        z-index: 734;

}

.DownloadText{
        letter-spacing: 1.74px;
        font-size: 12px;
        font-family: "GothamRounded";
        color: rgb(55, 55, 55);
        text-transform: uppercase;
        line-height: 1.833;
        text-align: center;
        position: absolute;
        left: 219px;
        top: 117px;
        width: 840px;
        height: 54px;
        z-index: 735;

}



/*седьмая*/
.seven{
    background-image: url(../img/qqq.png);
        position: absolute;
        left: 0px;
        top: 3470px;
        width: 1280px;
        height: 132px;
    z-index: 686;
}

.lastTextField{
        letter-spacing: 2.1px;
                font-size: 14px;
                font-family: "GothamRounded";
                color: rgb(55, 55, 55);
                font-weight: bold;
                line-height: 1.2;
                position: absolute;
                left: 125.937px;
                top: 77px;
                z-index: 749;
             
}

.fotik{
        position: absolute;
        left: 1094px;
        top: 32px;
        width: 53px;
        height: 55px;
        z-index: 748;
  
}

.u{
        font-size: 16px;
        font-family: "GothamRounded";
        color: rgb(255, 255, 255);
        font-weight: bold;
        text-transform: uppercase;
        line-height: 1.2;
        text-align: left;
        position: absolute;
        left: 353.937px;
        top: 247.9px;
        z-index: 739;
      
}

.credits{
        letter-spacing: 2px;
        cursor: pointer;
        font-size: 14px;
        font-family: "GothamRounded";
        color: rgb(55, 55, 55);
        font-weight: bold;
        text-transform: uppercase;
        position: absolute;
        left: 120px;
        top: 35.82px;
        margin-left: 5px;
}

.credits:hover{
        opacity: 0.8;
}

.privacy{
        letter-spacing: 2px;
        cursor: pointer;
        font-size: 14px;
        font-family: "GothamRounded";
        color: rgb(55, 55, 55);
        font-weight: bold;
        text-transform: uppercase;
        position: absolute;
        left: 204.937px;
        top: 35.82px;
        margin-left: 16px;
}

.privacy:hover{
        opacity: 0.8;
}
.teams{
        margin-left: 35px;
        letter-spacing: 2px;
        cursor: pointer;
        font-size: 14px;
        font-family: "GothamRounded";
        color: rgb(55, 55, 55);
        font-weight: bold;
        text-transform: uppercase;
        position: absolute;
        left: 284.937px;
        top: 35.82px;
}
.teams:hover{
        opacity: 0.8;
}
.first_{
        color: rgb(26, 188, 156);
        margin-left: -10px;
        margin-top: 31.82px;
}

.second_{
        
        color: rgb(26, 188, 156);
        margin-left: 96px;
        margin-top: 31.82px;
}







  




