.search-form {
    display: flex;
    height: 48px;
    background-color: #fff;
    border-radius: 12px;
}

.location-field {
    padding-right: 10px;
    display: flex;
    justify-content: space-between;
    width: 265px;
    height: 50px;
}

.location-field input {
    color: #373737;
    height: 48px;
    border: none;
    background: none;
    font-size: 14px;
    font-weight: 100;
    padding-left: 21px;
}

.location-field input::placeholder {
    color: #373737;
}

.location-field input:focus {
    color: #373737;
    outline: none;
}

.voice-control {
    display: flex;
    justify-content: center;
    align-items: center;
	background: #373737;
	border-radius: 50%;
	margin-top: 4px;
	height: 40px;
	width: 40px;

	box-shadow: 0 0 0 0 #373737;
	transform: scale(1);
	animation: none;
}

@keyframes pulse {
	0% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 #373737b3;
	}

	70% {
		transform: scale(1);
		box-shadow: 0 0 0 10px #37373700;
	}

	100% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 #37373700;
	}
}

.search-button {
    font-size: 18px;
    width: 100px;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 10px;
    background-color: #373737;
    transition: all 0.3s ease;
}

.search-button:hover {
    cursor: pointer;
    background-color: #373737dd;
    transition: all 0.3s ease;
}